* {
  box-sizing: border-box;
  color: #333;
}

body {
  background-color: #a2c5bb;
  margin: 0;
  padding: 0;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

/* ---------section Name---------*/
.noteSelector {
  background-color: rgb(151, 144, 144);
  border: #333;
  color: #333;
  margin: 20px;
  width: 100px;
  flex-grow: 1;
}

.chordSelector {
  background-color: rgb(143, 101, 101);
  border: #333;
  color: rgb(116, 82, 82);
  margin: 20px;
  width: 100px;
  flex-grow: 1;
}

.selectorMain > div {
  display: flex;
  margin: 10px;
  width: 80%;
}

.note-selector select {
  width: 80px;
  height: 50px;
  border-radius: 20%;
  border: 1px solid #333;
  cursor: pointer;
  background-color: #444;
  text-align: center;
  color: white;
  font-size: 1.2rem;
}

.chord-scale-selector select {
  width: 180px;
  height: 50px;
  border-radius: 10px;
  border: 1px solid #333;
  cursor: pointer;
  background-color: #444;
  text-align: center;
  color: white;
  font-size: 1.2rem;
}

.chord-scale-selector option,
.note-selector option {
  background-color: #444;
  color: white;
}
